<ion-header>
  <ion-toolbar style="z-index: 0;">
    <ion-button slot="end" fill="clear" (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light-grey">
  <ion-row style="height: 100%;">
    <ion-col class="ion-no-padding">
      <div class="content" style="height: 100%;">
        <form (ngSubmit)="onSubmit()" class="form" #loanform="ngForm">
          <ion-list style="height: 100%;" *ngIf="type == 'Attachment'">
            <ion-row class="label-group">
              <ion-label class="text-medium-blue">New {{type}}</ion-label>
            </ion-row>

            <ion-row style="margin-top: 10px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Name" name="name" ngModel
                  [(ngModel)]="dataDetail.name" required="true" />
                <label class="hceazy-label" for="name">
                  Name<ion-text color="danger">*</ion-text>
                </label>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <textarea id="description" name="description" class="hceazy-textarea" placeholder="Description" ngModel
                  [(ngModel)]="dataDetail.description" maxlength="500">
                </textarea>
                <label class="hceazy-label" for="description">
                  Description
                </label>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Start Date" id="startDate"
                  name="startDate" readonly="true" value="{{ dataDetail.startDate | date: 'dd-MMM-yyyy'}}" required />
                <label class="hceazy-label" for="startDate">
                  Start Date<ion-text color="danger">*</ion-text>
                </label>
              </div>

              <ion-modal id="input-date" trigger="startDate" mode="ios">
                <ng-template>
                  <ion-content scrollY="false" scrollX="false">
                    <ion-row>
                      <ion-col>
                        <ion-datetime (ionChange)="onChangeDate('start')"
                        max="2050" style="min-width: 100%; max-height: 350px; border-radius: 10px;"
                          mode="ios" doneText="Set" cancelText="Cancel" showDefaultButtons="true" required ngModel
                          [(ngModel)]="dataDetail.startDate" name="startDate" presentation="date" hourCycle="h24">
                        </ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="End Date" id="endDate"
                  name="endDate" readonly="true" value="{{ dataDetail.endDate | date: 'dd-MMM-yyyy'}}" required />
                <label class="hceazy-label" for="endDate">
                  End Date<ion-text color="danger">*</ion-text>
                </label>
              </div>

              <ion-modal id="input-date" trigger="endDate" mode="ios">
                <ng-template>
                  <ion-content scrollY="false" scrollX="false">
                    <ion-row>
                      <ion-col>
                        <ion-datetime (ionChange)="onChangeDate('end')"
                        max="2050" style="min-width: 100%; max-height: 350px; border-radius: 10px;"
                          mode="ios" doneText="Set" cancelText="Cancel" showDefaultButtons="true" required ngModel
                          [(ngModel)]="dataDetail.endDate" name="endDate" presentation="date" hourCycle="h24">
                        </ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-row>

            <ion-row style="margin-top: 10px;">
              <ion-item id="toggle" lines="none" style="width: 100%;">
                <ion-label class="text-medium-blue">Mandatory</ion-label>
                <ion-toggle slot="end" mode="ios" (ionChange)="toggleChange($event)"
                  [checked]="dataDetail.mandatory"></ion-toggle>
              </ion-item>
            </ion-row>
          </ion-list>

          <ion-list style="height: 100%;" *ngIf="type == 'Criteria'">
            <ion-row class="label-group">
              <ion-label class="text-medium-blue">New {{type}}</ion-label>
            </ion-row>

            <ion-row style="margin-top: 10px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Name" name="name" ngModel
                  [(ngModel)]="dataDetail.name" required="true" />
                <label class="hceazy-label" for="name">
                  Name<ion-text color="danger">*</ion-text>
                </label>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <textarea id="description" name="description" class="hceazy-textarea" placeholder="Description" ngModel
                  [(ngModel)]="dataDetail.description" maxlength="500">
                </textarea>
                <label class="hceazy-label" for="description">
                  Description
                </label>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Organization Group"
                  name="organizationName" ngModel [(ngModel)]="dataDetail.organizationName" readonly="true"
                  (click)="openSearchMenu('Organization')" />
                <label class="hceazy-label" for="organizationName">
                  Organization
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Organization Group"
                  name="orgGroup" ngModel [(ngModel)]="dataDetail.orgGroup" readonly="true"
                  (click)="openSearchMenu('Organization Group')" />
                <label class="hceazy-label" for="orgGroup">
                  Organization Group
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Position" name="positionName"
                  ngModel [(ngModel)]="dataDetail.positionName" readonly="true"
                  (click)="openSearchMenu('Position Job')" />
                <label class="hceazy-label" for="positionName">
                  Position
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Position Level"
                  name="positionLevelName" ngModel [(ngModel)]="dataDetail.positionLevelName" readonly="true"
                  (click)="openSearchMenu('Position Level')" />
                <label class="hceazy-label" for="positionLevelName">
                  Position Level
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Job Title" name="jobTitleName"
                  ngModel [(ngModel)]="dataDetail.jobTitleName" readonly="true" (click)="openSearchMenu('Job Title')" />
                <label class="hceazy-label" for="jobTitleName">
                  Job Title
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Job Family" name="jobFamilyName"
                  ngModel [(ngModel)]="dataDetail.jobFamilyName" readonly="true"
                  (click)="openSearchMenu('Job Family')" />
                <label class="hceazy-label" for="jobFamilyName">
                  Job Family
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <p-floatLabel class="hceazy-select">
                <p-dropdown [options]="listWorkLocationType" ngModel [(ngModel)]="dataDetail.workLocationType"
                  name="workLocationType" optionLabel="title" optionValue="value" inputId="float-label">
                  <ng-template pTemplate="dropdownicon">
                    <ion-icon name="caret-down-outline" style="color: black;"></ion-icon>
                  </ng-template>
                </p-dropdown>
                <label for="float-label">Work Location Type</label>
              </p-floatLabel>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Company Office"
                  name="companyOfficeName" ngModel [(ngModel)]="dataDetail.companyOfficeName" readonly="true"
                  (click)="openSearchMenu('Work Location')" />
                <label class="hceazy-label" for="companyOfficeName">
                  Company Office
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Grade" name="gradeName" ngModel
                  [(ngModel)]="dataDetail.gradeName" readonly="true" (click)="openSearchMenu('Grade')" />
                <label class="hceazy-label" for="gradeName">
                  Grade
                </label>
                <ion-icon slot="icon-only" name="search-outline" class="hceazy-icon-search"></ion-icon>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <p-floatLabel class="hceazy-select">
                <p-dropdown [options]="listEmploymentStatus" ngModel [(ngModel)]="dataDetail.employmentStatus"
                  name="employmentStatus" optionLabel="title" optionValue="value" inputId="float-label">
                  <ng-template pTemplate="dropdownicon">
                    <ion-icon name="caret-down-outline" style="color: black;"></ion-icon>
                  </ng-template>
                </p-dropdown>
                <label for="float-label">Employment Status</label>
              </p-floatLabel>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <p-floatLabel class="hceazy-select">
                <p-dropdown [options]="listRatingModel" ngModel [(ngModel)]="dataDetail.ratingModelId"
                  name="ratingModelId" optionLabel="name" optionValue="id" inputId="float-label">
                  <ng-template pTemplate="dropdownicon">
                    <ion-icon name="caret-down-outline" style="color: black;"></ion-icon>
                  </ng-template>
                </p-dropdown>
                <label for="float-label">Rating</label>
              </p-floatLabel>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="tel"
                  placeholder="Minimum Length of Service (month)" name="minLos" ngModel [(ngModel)]="dataDetail.minLos"
                  (input)="change($event)" maxlength="3" />
                <label class="hceazy-label" for="minLos">
                  Minimum Length of Service (month)
                </label>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="tel"
                  placeholder="Maximum Length of Service (month)" name="maxLos" ngModel [(ngModel)]="dataDetail.maxLos"
                  (input)="change($event)" maxlength="3" />
                <label class="hceazy-label" for="maxLos">
                  Maximum Length of Service (month)
                </label>
              </div>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Start Date" id="startDate"
                  name="startDate" readonly="true" value="{{ dataDetail.startDate | date: 'dd-MMM-yyyy'}}" required />
                <label class="hceazy-label" for="startDate">
                  Start Date<ion-text color="danger">*</ion-text>
                </label>
              </div>

              <ion-modal id="input-date" trigger="startDate" mode="ios">
                <ng-template>
                  <ion-content scrollY="false" scrollX="false">
                    <ion-row>
                      <ion-col>
                        <ion-datetime (ionChange)="onChangeDate('start')"
                        max="2050" style="min-width: 100%; max-height: 350px; border-radius: 10px;"
                          mode="ios" doneText="Set" cancelText="Cancel" showDefaultButtons="true" required ngModel
                          [(ngModel)]="dataDetail.startDate" name="startDate" presentation="date" hourCycle="h24">
                        </ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="End Date" id="endDate"
                  name="endDate" readonly="true" value="{{ dataDetail.endDate | date: 'dd-MMM-yyyy'}}" required />
                <label class="hceazy-label" for="endDate">
                  End Date<ion-text color="danger">*</ion-text>
                </label>
              </div>

              <ion-modal id="input-date" trigger="endDate" mode="ios">
                <ng-template>
                  <ion-content scrollY="false" scrollX="false">
                    <ion-row>
                      <ion-col>
                        <ion-datetime (ionChange)="onChangeDate('end')"
                        max="2050" style="min-width: 100%; max-height: 350px; border-radius: 10px;"
                          mode="ios" doneText="Set" cancelText="Cancel" showDefaultButtons="true" required ngModel
                          [(ngModel)]="dataDetail.endDate" name="endDate" presentation="date" hourCycle="h24">
                        </ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-row>
          </ion-list>

          <ion-list style="height: 100%;" *ngIf="type == 'Discipline'">
            <ion-row class="label-group">
              <ion-label class="text-medium-blue">New {{type}}</ion-label>
            </ion-row>

            <ion-row style="margin-top: 10px;">
              <p-floatLabel class="hceazy-select">
                <p-dropdown [options]="listDiscipline" ngModel [(ngModel)]="dataDetail.discipline" name="discipline"
                  optionLabel="name" optionValue="id" inputId="float-label" [required]="true">
                  <ng-template pTemplate="dropdownicon">
                    <ion-icon name="caret-down-outline" style="color: black;"></ion-icon>
                  </ng-template>
                </p-dropdown>
                <label for="float-label">Discipline<ion-text color="danger">*</ion-text></label>
              </p-floatLabel>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="Start Date" id="startDate"
                  name="startDate" readonly="true" value="{{ dataDetail.startDate | date: 'dd-MMM-yyyy'}}" required />
                <label class="hceazy-label" for="startDate">
                  Start Date<ion-text color="danger">*</ion-text>
                </label>
              </div>

              <ion-modal id="input-date" trigger="startDate" mode="ios">
                <ng-template>
                  <ion-content scrollY="false" scrollX="false">
                    <ion-row>
                      <ion-col>
                        <ion-datetime (ionChange)="onChangeDate('start')"
                        max="2050" style="min-width: 100%; max-height: 350px; border-radius: 10px;"
                          mode="ios" doneText="Set" cancelText="Cancel" showDefaultButtons="true" required ngModel
                          [(ngModel)]="dataDetail.startDate" name="startDate" presentation="date" hourCycle="h24">
                        </ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-row>

            <ion-row style="margin-top: 20px;">
              <div class="hceazy-input-wrapper">
                <input autocomplete="off" class="hceazy-input" type="text" placeholder="End Date" id="endDate"
                  name="endDate" readonly="true" value="{{ dataDetail.endDate | date: 'dd-MMM-yyyy'}}" required />
                <label class="hceazy-label" for="endDate">
                  End Date<ion-text color="danger">*</ion-text>
                </label>
              </div>

              <ion-modal id="input-date" trigger="endDate" mode="ios">
                <ng-template>
                  <ion-content scrollY="false" scrollX="false">
                    <ion-row>
                      <ion-col>
                        <ion-datetime (ionChange)="onChangeDate('end')"
                        max="2050" style="min-width: 100%; max-height: 350px; border-radius: 10px;"
                          mode="ios" doneText="Set" cancelText="Cancel" showDefaultButtons="true" required ngModel
                          [(ngModel)]="dataDetail.endDate" name="endDate" presentation="date" hourCycle="h24">
                        </ion-datetime>
                      </ion-col>
                    </ion-row>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-row>
          </ion-list>

          <ion-button class="blue-button" style="margin-top: 30px;" color="primary"
            [disabled]="!loanform.valid || dataDetail.startDate == null || dataDetail.endDate == null" type="submit">
            Submit
          </ion-button>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
